h2 {
    font-family: 'Open Sans', sans-serif;
    /*font-size: 30px;*/
}

p {
    font-family: 'Open Sans', sans-serif;
}

.custom {
    height: 150px;
}

.custom2 {
    height: 150px;
    margin: : 4px 4px 4px 4px;
}

.custom3 {
    height: 200px;
}

.imgclass {
    height: 80px;
    width: 70px;
    margin-top: 35px;
}

.imgclass:hover {
    background-color: green;
}

.centered {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.centered2 {
    margin-left: auto;
    margin-right: auto;
}

.imglgl {
    height: 100px;
    width: 212px;
    margin-left: 80px;
}

.abt {
    margin-top: 4px;
    text-align: center;
    font-weight: bold;
    color: black;
}

.abt2 {
    text-align: center;
}

.cmpname {
    margin-top: 120px;
    color: black;
}

.mytextdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mytexttitle {
    flex-grow: 0;
}

.divider {
    flex-grow: 1;
    margin-top: 18px;
    height: 1px;
    /*background-color: #DCDCDC;*/
}

.btns {
    
    
    
    margin-right: 10px;
    margin-top: -3px;
    
}



.btnss:hover {
    background-color: lightgreen;
}

.well {
    background-color: #fff;
}

.panel {
    background-color: white;
    border-color: lightgreen;
    height: 280px;
}

.headingColor {
    color: forestgreen;
}

.buttonsubmit {
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 315px;
    padding: 6px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}

.buttonsubmit:hover {
    background-color: lightgreen;
    color: #fff;
}

.avatar-zone {
    margin-left: 148px;
    width: 318px;
    height: 40px;
    background-color: #CCCCCC;
}

.overlay-layer {
    margin-left: 200px;
    width: 200px;
    height: 40px;
    position: absolute;
    margin-top: -40px;
    opacity: 0.5;
    background-color: #CCCCCC;
    z-index: 0;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    color: green;
}

.upload_btn {
    position: absolute;
    width: 200px;
    height: 40px;
    margin-top: -40px;
    z-index: 10;
    opacity: 0;
}

.panelImg {
    height: 70px;
    width: 60px;
    margin-top: 20px;
    margin-left: 80px;
}

.job-panel {
    height: 220px;
    color: green;
    text-align: center;
    padding-bottom: -60px;
}

.job-panel-2 {
    height: 220px;
    color: green;
    text-align: center;
    padding-bottom: -60px;
}

.job-panel:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.pl_text_color {
    color: black;
}

.panel_body_text {
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.error {
    color: red;
}

.formborder {
    border: 1px solid lightgreen;
}

input {
    border-color: lightgreen !important;
    border-radius: 0px !important;
}
select{
    border-color: lightgreen !important;
    border-radius: 0px !important;
}
textarea{
    border-color: lightgreen !important;
    border-radius: 0px !important;
}

.our_skill_img {
    height: 60px;
    width: 60px;
    margin-bottom: 3px;
}

.plfont {
    font-weight: bold;
}

. .btn_job_intern:hover {
    background: lightgreen;
}

.btn-primary:hover {
    /*background-color: lightgreen !important;*/
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 220px;
    margin: 1rem;
    position: relative;
    width: 220px;
    border: 1px solid lightgreen;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    color:green;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card-4:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.job_intern_text{

    font-family: 'Vollkorn';
    margin-left: 75px;
    margin-top: 30px;

}


#apply-panel{
    margin-left: 115px;
    width: 535px;
}

.cards-of-jobs{
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 50px;
    margin: 1rem;
    position: relative;
    width: 460px;
    border: 1px solid lightgreen;
    margin-left: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.cads-of-jobs:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.panel-jobs{
    margin-top:30px;*/
    /*margin:auto;*/
    margin-left: 120px;
    border:1px solid lightgreen;
    height: 230px;
    /*width: 600px;*/
    
}
.box-job-panels{
    height: 250px; 
    width: 533px;
    margin:20px auto; 
    border:1px solid lightgreen; 
}

.box-job-intern{
     margin-top: 60px;margin-left:24px;

}
.mobile_margins{
    margin-left:185px;
}

.internmobilefield{
    margin-left: 185px;
}

.container_btm{
    margin-top:40px;margin-bottom: 60px;
}
.job-field{
    padding-left:0px;
}