<div id="breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li>About Us</li>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-5 custom">
                <img class="centered" src="images/Logo.png">
                <div class="centered cmpname"><small>Technigen pvt ltd</small></div>
            </div>
        </div>
        <div class="row">
            <div style="text-align: center; margin-bottom: 20px;">
                <h2> About us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <h2 style="margin-left: -15px;">Introduction</h2></div>
                <div class="row">
                    <p class="text-justify">Our approach is always client based, we seek to understand your needs and we can if needed come up with supportive and creative suggestions to craft a product ideal to your requirements. We provide excellent support and we work to fixed deadlines within a competitive cost structure. We believe that a happy team makes for better creativity; our philosophy encourages the values of honesty and integrity amongs</p>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-1" style="height: 300px;">
                <div class="center-block" style="text-align: center;">
                    <h1>Our skills</h1>
                </div>
                <div class="row" style="margin-top: 30px;">
                    <div class="col-xs-4 col-sm-4 plfont"><img src="images/angularjs.png" class="img-circle our_skill_img">
                    </div>
                    <div class="col-xs-4 col-sm-4 plfont"><img src="images/nodejs.png" class="img-circle our_skill_img">
                    </div>
                    <div class="col-xs-4 col-sm-4 plfont"><img src="images/sql.png" class="img-circle our_skill_img">
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 plfont">
                            Angular Js
                        </div>
                        <div class="col-xs-4 col-sm-4 plfont">
                            Node Js
                        </div>
                        <div class="col-xs-4 col-sm-4 plfont">
                            &nbsp;Sql
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 40px;">
                    <div class="col-xs-4 col-sm-4 plfont"><img src="images/ios.png" class="img-circle our_skill_img">
                    </div>
                    <div class="col-xs-4 col-sm-4 plfont"><img src="images/android.png" class="img-circle our_skill_img">
                    </div>
                    <div class="col-xs-4 col-sm-4 plfont"><img src="images/html.png" class=" img-circle our_skill_img">
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 plfont">
                            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Ios
                        </div>
                        <div class="col-xs-4 col-sm-4 plfont">
                            Android
                        </div>
                        <div class="col-xs-4 col-sm-4 plfont">
                            Html
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div style="text-align: center;">
                <div class="mytextdiv">
                    <div class="mytexttitle">
                        <h2>Our approach</h2></div>
                    <div class="divider"></div>
                </div>
            </div>
            <p class="text-justify">Our approach is always client based, we seek to understand your needs and we can if needed come up with supportive and creative suggestions to craft a product ideal to your requirements. We provide excellent support and we work to fixed deadlines within a competitive cost structure. We believe that a happy team makes for better creativity; our philosophy encourages the values of honesty and integrity amongst team members by creating a supportive and transparent work culture within the company.
            </p>
        </div>
        <div class="row">
            <div style="text-align: center;">
                <div class="mytextdiv">
                    <div class="mytexttitle">
                        <h2>Our philosophy</h2></div>
                    <div class="divider"></div>
                </div>
            </div>
            <p class="text-justify">Our philosophy is simple - To provide the best websites and web applications available to all our clients. Your project could be next! Our team uses cutting edge technology to create optimized internet based interfaces that are accessible, interactive, functional, and interoperable. The result is a fast and efficient, user-friendly website or web application. We provide world-standard web development services covering a vast technical area based around web technologies and trends.
            </p>
            <br>
        </div>
    </div>
</div>
