<div id="breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li>Apply</li>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 20px; margin-bottom: 60px;">
    <div class="row">
        <div class="col-md-offset-3 col-md-6" margin-bottom: 40px; ">
            <div class="formborder ">
                <div style="text-align: center; ">
                    <h3>Apply now</h3><span>All * fields are necessary
                    </span>
                </div>
                <div class="center-block " style="margin:20px; ">
                    <form name="userForm " novalidate>
                        <div class="form-group ">
                            <label for="name ">Name:*</label>
                            <input type="text " ng-pattern="/^[a-zA-Z\s]*$/ " ng-maxlength="10 " name="name " class="form-control " placeholder="Your Name " ng-model="data.name " required />
                            <div ng-messages="userForm.name.$error " ng-if="userForm.$submitted ">
                                <div class="error " ng-message="required ">required!!</div>
                                <div class="error " ng-message="maxlength ">too long</div>
                                <div class="error " ng-message="pattern ">character only allowed</div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="email ">Email:*</label>
                            <input type="email " ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/ " ng-maxlength="50 " name="email " ng-model="data.email " class="form-control " placeholder="Your Email " required />
                            <div ng-messages="userForm.email.$error " ng-if="userForm.$submitted ">
                                <div class="error " ng-message="required ">required!!</div>
                                <div class="error " ng-message="maxlength ">too long</div>
                                <div class="error " ng-message="pattern ">not valid email</div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="address ">Address:*</label>
                            <input type="text " ng-maxlength="100 " name="address " class="form-control " placeholder="Your address " ng-model="data.address " required />
                            <div ng-messages="userForm.address.$error " ng-if="userForm.$submitted ">
                                <div class="error " ng-message="required ">required!!</div>
                                <div class="error " ng-message="maxlength ">too long!!</div>
                                <div class="error " ng-message="pattern ">character only allowed!!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-5">
                                <label for="ctry_code ">Ctry code:*</label>
                        <select name="ctry_code " class="form-control " placeholder="+977 " ng-minlength="3 " ng-maxlength="3 " >
                            <option data-countryCode="DZ" value="213">Nepal (+977)</option>
                           
                        </select>
                                <div ng-messages="userForm.ctry_code.$error " ng-if="userForm.$submitted ">
                                    <div class="error " ng-message="required ">required!!</div>
                                    <div class="error " ng-message="minlength ">should be of 3 digit</div>
                                    <div class="error " ng-message="maxlength ">should be of 3 digit</div>
                                    <div class="error " ng-message="pattern ">number only allowed</div>
                                </div>
                      
                                </div>
                                
                               
                                
                                <div class="col-xs-7 ">
                                    <label for="mobile ">Mobile no:*</label>
                                    <input type="text " ng-pattern="/^[0-9]/ " ng-minlength="10 " ng-maxlength="10 " name="mobileno " class="form-control " placeholder="Enter mobile " ng-model="data.mobileno " required />
                                </div>

                            </div>
                           
                            <div ng-messages="userForm.mobileno.$error " ng-if="userForm.$submitted ">
                                <div class="error " ng-message="required " style="margin-left: 185px; ">required!!</div>
                                <div class="error " ng-message="minlength " style="margin-left: 185px; ">should be of 10 digit</div>
                                <div class="error " ng-message="maxlength " style="margin-left: 185px; ">should be of 10 digit</div>
                                <div class="error " ng-message="pattern " style="margin-left: 185px; ">number only allowed</div>
                            </div>
                           
                        </div>
                        
                        <div class="form-group ">
                            <label for="date_of_birth ">Date of birth*</label>
                            <input type="date " name="date " class="form-control " ng-model="data.date " placeholder required>
                            <div ng-messages="userForm.date.$error " ng-if="userForm.$submitted ">
                                <div class="error " ng-message="required ">required!!</div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="job ">Position applying for:*</label>
                            <select name="job " class="form-control " ng-model="data.job " required>
                                <option value="job ">Node js developer</option>
                                <option value="intern ">Angular js developer</option>
                            </select>
                            <div ng-messages="userForm.job.$error " ng-if="userForm.$submitted ">
                                <div class="error " ng-message="required " >required!!</div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="education ">Education:*</label>
                            <select name="education " class="form-control " ng-model="data.job " required>
                                <option value="job ">Bachelor in computer engineering</option>
                                <option value="intern ">Bsc Csit</option>
                                <option value="intern ">BCA</option>
                            </select>
                            <div ng-messages="userForm.education.$error " ng-if="userForm.$submitted ">
                                <div class="error " ng-message="required ">required!!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 ">
                                <label for="exp ">Job experience:*</label>
                            </div>
                            <div class="col-xs-12 ">
                                <div class="col-xs-7 ">
                                <input type="number " name="exp " ng-model="data.exp " class="form-control " required>
                                </div>
                                <div class="col-xs-5 ">
                                    <b>years</b>
                                </div>
                            </div>
                            <div ng-messages="userForm.exp.$error " ng-if="userForm.$submitted ">
                                <div class="error " ng-message="required ">required!!</div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="skills ">Skills:*</label>
                            <textarea name="skills " class="form-control " ng-model="data.skills "  required>
                                
                            </textarea> 
                            <div ng-messages="userForm.skills.$error " ng-if="userForm.$submitted ">
                                <div class="error " ng-message="required ">required!!</div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="salary ">Salary expected:*</label>
                            <input type="number " name="salary "  class="form-control " ng-model="data.salary " placeholder required>
                            <div ng-messages="userForm.salary.$error " ng-if="userForm.$submitted ">
                                <div class="error " ng-message="required ">required!!</div>
                                
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="cv ">Upload CV:*</label>
                            <input type="file " name="cvfile " class="form-control " ng-model="data.cvfile " required />
                            <div ng-messages="userForm.cvfile.$error " ng-if="userForm.$submitted ">
                                <div class="error " ng-message="required ">required!!</div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <button type="submit " class="btn btn-success ">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
