<div id="breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li>Career</li>
        </div>
    </div>
</div>
<div>
    <div class="container">
        
        
        <div class="row box-job-intern" ng-controller="applyCtrl">
            <div class="col-sm-offset-2 col-sm-2" >
                <div class="card">
                    <img class="card-img-top img-circle panelImg" src="images/job3.jpg" alt="Card image cap">
                    <div class="job_intern_text" ng-click="apply();">
                        <h1>Jobs</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-2" ng-controller="internCtrl">
                <div class="card">
                    <img class="card-img-top img-circle panelImg" src="images/job.png" alt="Card image cap">
                    <div class="job_intern_text">
                        <h1 ng-click="intern();">Intern</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box-job-panels">
                <div class="col-sm-offset-1 col-sm-10" style="margin:5px auto">
                    <div class="row">
                        <div class="col-xs-6">
                            <h3 style="margin-left: 20px;"> Open positions</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6" ng-controller="applyCtrl">
                            <div class="card cards-of-jobs">
                                <b>Node js developer</b>
                                <button class="btn btn-success pull-right btns" ng-click="apply();">Apply</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6" ng-controller="internCtrl">
                            <div class="card cards-of-jobs">
                                <b>Angular js developer</b>
                                <button class="btn btn-success pull-right btns" ng-click="intern();">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
