<style>
.avatar-zone{
    width:300px;
    height:40px;
    background-color:#CCCCCC;
}
.overlay-layer{
    width:200px;
    height:40px;
    position:absolute;
    margin-top:-40px;
    opacity:0.5;
    background-color:#CCCCCC;
    z-index:0;
    font-size:25px;
    color:#FFFFFF;
    text-align:center;
    line-height:40px;
    color:green;
}
.upload_btn{
    position:absolute;
    width:200px;
    height:40px;
    margin-top:-40px;
    z-index:10;
    opacity:0;

}
</style>

<form action="/">
    <div class="avatar-zone">
    </div>   
  
    <input type="file" class="upload_btn"/>
    <div class="overlay-layer">Upload Resume</div>
</form>