


    <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <a href="index.html"><h1><span>Com</span>pany</h1></a>
                        </div>
                    </div>
                    <div class="navbar-collapse collapse">
                        <div class="menu">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation"><a href="/" class="active">Home</a></li>
                                <li role="presentation"><a href="#!about">About Us</a></li>
                                <li role="presentation"><a href="#!services">Services</a></li>
                                <li role="presentation"><a href="#!portfolio">Portfolio</a></li>
                                <li role="presentation"><a href="#!blog">Blog</a></li>
                                <li role="presentation"><a href="#!contact">Contact</a></li>
                                <!-- <li role="presentation"><a href="career.html">Career</a></li>                       -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
