<div id="breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li>intern</li>
        </div>
    </div>
</div>
<div class="container container_btm" >
    <div class="row">
        <div class="col-md-offset-3 col-md-6" style="margin-bottom:40px;">
            <div class="formborder">
                <div style="text-align: center;">
                    <h3>Apply now</h3><span>All fields are necessary
                    </span>
                </div>
                <div class="center-block" style="margin:20px;">
                    <form name="userForm" novalidate>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="10" name="name" class="form-control" placeholder="Your Name" ng-model="data.name" required />
                            <div ng-messages="userForm.name.$error" ng-if="userForm.$submitted">
                                <div class="error" ng-message="required">required!!</div>
                                <div class="error" ng-message="maxlength">too long</div>
                                <div class="error" ng-message="pattern">character only allowed</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-maxlength="50" name="email" ng-model="data.email" class="form-control" placeholder="Your Email" required />
                            <div ng-messages="userForm.email.$error" ng-if="userForm.$submitted">
                                <div class="error" ng-message="required">required!!</div>
                                <div class="error" ng-message="maxlength">too long</div>
                                <div class="error" ng-message="pattern">not valid email</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address">Address:</label>
                            <input type="text" ng-maxlength="100" name="address" class="form-control" placeholder="Your address" ng-model="data.address" required />
                            <div ng-messages="userForm.address.$error" ng-if="userForm.$submitted">
                                <div class="error" ng-message="required">required!!</div>
                                <div class="error" ng-message="maxlength">too long!!</div>
                                <div class="error" ng-message="pattern">character only allowed!!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-5">
                                    <label for="ctry_code">Country code:</label>
                                    <select name="ctry_code" class="form-control" placeholder="+977" ng-minlength="3" ng-maxlength="3">
                                        <option data-countryCode="DZ" value="213">Nepal (+977)</option>
                                        <option data-countryCode="AD" value="376">Andorra (+376)</option>
                                        <option data-countryCode="AD" value="376">Andorra (+376)</option>
                                        <option data-countryCode="AO" value="244">Angola (+244)</option>
                                        <option data-countryCode="AI" value="1264">Anguilla (+1264)</option>
                                        <option data-countryCode="AG" value="1268">Andgides (+1268)</option>
                                        <option data-countryCode="AR" value="54">Argentina (+54)</option>
                                        <option data-countryCode="AM" value="374">Armenia (+374)</option>
                                        <option data-countryCode="AW" value="297">Aruba (+297)</option>
                                        <option data-countryCode="AU" value="61">Australia (+61)</option>
                                    </select>
                                    <div ng-messages="userForm.ctry_code.$error" ng-if="userForm.$submitted">
                                        <div class="error" ng-message="required">required!!</div>
                                        <div class="error" ng-message="pattern">number only allowed</div>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <label for="mobile">Mobile no:</label>
                                    <input type="text" ng-pattern="/^[0-9]/" ng-minlength="10" ng-maxlength="10" name="mobileno" class="form-control" placeholder="Enter mobile" ng-model="data.mobileno" required />
                                </div>
                            </div>
                            <div ng-messages="userForm.mobileno.$error" ng-if="userForm.$submitted">
                                <div class="error internmobilefield" ng-message="required">required!!</div>
                                <div class="error internmobilefield" ng-message="minlength">should be of 10 digit</div>
                                <div class="error internmobilefield" ng-message="maxlength">should be of 10 digit</div>
                                <div class="error internmobilefield" ng-message="pattern">number only allowed</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="date_of_birth">Date of birth:</label>
                            <input type="date" name="date" class="form-control" ng-model="data.date" placeholder required>
                            <div ng-messages="userForm.date.$error" ng-if="userForm.$submitted">
                                <div class="error" ng-message="required">required!!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="college">College:</label>
                            <input type="text" class="form-control" name="college" ng-maxlength="100" ng-model="data.college" ng-pattern="/^[a-zA-Z\s]*$/" required>
                            <div ng-messages="userForm.college.$error" ng-if="userForm.$submitted">
                                <div class="error" ng-message="required">required!!</div>
                                <div class="error" ng-message="maxlength">shoule not be more than 100 character!!</div>
                                <div class="error" ng-message="pattern">character only allowed!!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="level">Level:</label>
                            <select name="level" class="form-control" ng-model="data.level" required>
                                <option value="Bachelor"> Bachelor</option>
                                <option value="Master">Master</option>
                            </select>
                            <div ng-messages="userForm.level.$error" ng-if="userForm.$submitted">
                                <div class="error" ng-message="required">required!!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="language">Language:</label>
                            <select name="language" class="form-control" ng-model="data.language" required>
                                <option value="Node">Node js</option>
                                <option value="Angular"> Angular js</option>
                                <option value="Android">Android</option>
                            </select>
                            <div ng-messages="userForm.language.$error" ng-if="userForm.$submitted">
                                <div class="error" ng-message="required">required!!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="duration">Duration:</label>
                            <select name="duration" class="form-control" ng-model="data.duration" required>
                                <option value="job">3 months</option>
                                <option value="intern">6 months</option>
                            </select>
                            <div ng-messages="userForm.duration.$error" ng-if="userForm.$submitted">
                                <div class="error" ng-message="required">required!!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cv">Upload CV:</label>
                            <input type="file" name="cvfile" class="form-control" ng-model="data.cvfile" required />
                            <div ng-messages="userForm.cvfile.$error" ng-if="userForm.$submitted">
                                <div class="error" ng-message="required">required!!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

